.ads-zone {
    background-size: cover;
    background-position: center;
    padding: 2%;
}

.three-restuarants-ad {
    padding: 1%;
}

.image-full-body {
    width: 200px;
    height: 200px;
}

.image-top {
    height: 130px;
    padding: 5%;
    width: 100%;
    background-color:  lightblue;
}

.image-name-text {
    font-size: 0.9em;
    padding: 1%;
}

.ad-symbol-full {
    display: flex;
    flex-wrap: wrap;
}

.ad-symbol {
    background-color: rgb(121, 121, 69);
    color: white;
    width: 40px;
    padding: 1%;
    height: 25px;
    font-size: 0.9em;
    text-align: -webkit-center;
}


.visit-site {
    flex-basis: 50%;    
}

.visit-site-but {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 25px;
    font-size: 0.9em;
}

.visit-site-but:hover {
}