.ads-zone_t {
    background-size: cover;
    background-position: center;
    padding: 2%;
}

.three_restuarants-ad_t {
    padding: 1%;
}

.image-full-body {
    width: 180px;
    height: 180px;
    margin-top:10px;

}

.image-top {
    height: 130px;
    padding: 5%;
    width: 100%;
    background-color:  lightblue;
}

.image-name-text {
    font-size: 0.9em;
    padding: 1%;
}

.ad-symbol-full {
    display: flex;
    flex-wrap: wrap;
}

.ad-symbol {
    background-color: rgb(121, 121, 69);
    color: white;
    width: 40px;
    padding: 1%;
    height: 25px;
    font-size: 0.9em;
    text-align: -webkit-center;
}


.visit-site {
    flex-basis: 50%;    
}

.visit-site-but {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 25px;
    font-size: 0.9em;
}

.visit-site-but:hover {
}
    
.title_ad {
    padding: 5px 2px;
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .three_restuarants-ad_t {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        overflow-y: scroll;
    }
    .ads-zone_t {
        width: 95%;
        margin-left: 2%;
        box-shadow: 3px 3px 3px 3px grey;
    }
    
    .title_ad {
        padding: 5px 20px;
        width: 100%;
        margin-top: 10px;
    }
    .image-full-body {
        padding: 10px 20px;
        width: 200px;
        height: 200px;
        margin-top:10px;
    }
    
}