.available-city-full-body {
    margin-top: 4%;
    height: 100%;
    background-color: white;
    color: black;
    width: 80%;
    margin-left: 10%;
}


.available-city-head {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
}

.available-city-names {
    font-family: Raleway;
    font-size: 1.7em;
    flex-basis: 85%;
    padding: 1%;
    padding-left: 2%;
}

.see-all-text {
    margin-top: 1.4%;
    flex-basis: 7%;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.line-show {
    margin-top: 2%;
    border: 1px solid black;
    width: 90%;
    opacity: 0.05;
}

.see-all {
    margin-top: 1%;
    flex-basis: 5%;
}
.see-all-but {
    background-color: white;
    font-size: 20px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.see-all-but:hover {
}

.available-body {
    margin: 0px; 
    padding: 1%;
}

.show-options-body {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow:hidden;
    height: 20%;
    border-start-end-radius: 5px;
}

.div-class-city-name {
    height: 250px;
    background-position: cover;
    object-fit: cover;
    background-size: center;
    width: 300px;
    text-align: -webkit-center;
    padding: 4%;
    border-radius: 15px;
    color: white;
}

.city_name {
    padding-left: 15px;
    font-size: 20px;
}

.stores {
    margin-left: 15px;
    font-size: 12px;
}

@media screen and (max-width: 1000px) {

    .available-city-full-body {
        width: 100%;
        margin-left: 0px;
        padding: 1%;
    }
    
    
    .available-city-full-body {
        width: 100%;
    }

    .available-city-names {
        font-size: 1.8em;
        flex-basis: 70%;
    }
    
    .show-options-body {
        width: 100%;
        overflow-x: scroll;
    }

    .image_class {
        width: 100%;
        height: 100%;
        display: relative;
    }

    .see-all {
        margin-top: 1%;
        padding: 1%;
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-direction: column;
    }
    
    .see-all-but {
        background-color: white;
        font-size: 20px;
        width: 40px;
        height: 30px;
        border: 1px solid black;
        border-radius: 5px;
    }
    

    .div-class-city-name {
        background-position: cover;
        object-fit: cover;
        background-size: center;
        font-weight: bolder;
        font-size: 20px;
        width: 200px;
        height: 200px;
        border-radius: 15px;
        color: white;
    }

    .city_name {
        padding-left: 15px;
        font-size: 20px;
    }
    
    .stores {
        margin-left: 15px;
        font-size: 10px;
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 700px) {
}