.available-city-full-body {
    margin-top: 4%;
    height: 100%;
    background-color: white;
    color: black;
    width: 70%;
    margin-left: 15%;
}


.available-city-head {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
}

.available-city-names {
    font-family: Raleway;
    font-size: 1.7em;
    flex-basis: 90%;
    padding: 1%;
    padding-left: 2%;
}

.see-all-text {
    margin-top: 1.4%;
    flex-basis: 7%;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.line-show {
    margin-top: 2%;
    border: 1px solid black;
    width: 90%;
    opacity: 0.05;
}

.see-all {
    margin-top: 1%;
    flex-basis: 5%;
}
.see-all-but {
    background-color: white;
    font-size: 20px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.see-all-but:hover {
    border-bottom: 1px solid #008cEE;
}

.available-body {
    margin: 0px; 
    padding: 1%;
}

.show-options-body {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow:hidden;
    height: 20%;
    border-start-end-radius: 5px;
}

.div-class-city-name {
    height: 150px;
    background-image: url('./../image/perth.jpeg');
    background-position: top;
    background-size: cover;
    width: 20%;
    margin:3%;
    text-align: -webkit-center;
    padding: 4%;
    font-weight: bolder;
    font-size: 35px;
    border-radius: 10px;
    color: white;
}