.parent-card {
   height: 100%;
   width: 100%;
   font-family: Raleway;
}


.bar-at-top {
    display: flex;
}

.tool-bar_t {
    width: 100%;
}


.child-start {
    width: 80%;
    margin-left: 10%;
}

.image-display_p {
    height: 100%;
    width: 100%;
    transform: translate(-100%, 0px 0px);

}
.image-section_p {
    margin-top: 100px;
    flex-basis: 60%;
}

.full-scale-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.show-type-info {
    margin-top: 100px;
    margin-left: 10px;
    display:flex;
    width: 30%;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
}


.card-info {
    display: flex;
    padding: 20px;
}

.card-name-info {
    padding: 2px;
    font-size: 33px;
    display: flex;
    flex-basis:85%;
}

.card-name-info-p {
    font-size: 1.8em;
    color: white;
    text-align: -webkit-center;
 
}


.customer-rating {
    flex-grow: 1;
    font-size: 30px;
    text-align: -webkit-right;
}


.customer-rating-p {
    font-size: 0.9em;
    color: white;
}
.star-show {
    margin-top: 10px;
    flex-grow: 1;
    padding: 0 2px;
}



.star-image {
  height: 17px;
  width: 17px;
}

.star-image-p {
    height: 15px;
    width: 15px;
}


.red-show {
    display: flex;
    color: black;
    height: 27px;
    font-size: 18px;
    background: transparent;
    border: none;
    
}

.yellow-show {
    display: flex;
    color: black;
    height: 27px;
    font-size: 18px;
    background: transparent;
    border: none;
}

.green-show {
    display: flex;
    color: black;
    height: 27px;
    font-size: 18px;
    background: transparent;
    border: none;
}

.card-address-info {
    padding: 3px 20px; 
    font-size: 15px;
    display: flex;
}

.first-half-address {
    flex-basis: 85%;
}

.second-half-address {
    flex-grow: 1;
    padding-top: 10px;
}

.message-show-icon {
    height: 30px;
    width: 30px;
    opacity: 0.7;
}

.show-count-message {
    padding: 5px;
    font-size: 20px;
}

.go-map {
    padding: 3px 16px;
    display: flex;
}

.go-map-button {
    background-color: white;
    color: #008CEE;
    font-size: 16px;
    border: none;
}
.go-map-button:hover {
    background-color: #008CEE;
    color: white;
}


.line-show { 
    stroke:rgb(0,0,0);
    stroke-width:2;
  }

.line-show {
    margin-top: 2%;
    border: 1px solid black;
    width: 90%;
    opacity: 0.05;
}


.cuisine-record-row-name {
    display: flex;
}

.cuisine-record-row-info {
    display: flex;
}


.cuisine-name-show-name {
    display: flex;
    text-align: -webkit-center;
    flex-basis: 30%;
    flex-direction: column;
    margin-top: 1%;
}

.cuisine-name-show-info {
    display: flex;
    text-align: -webkit-center;
    flex-basis: 30%;
    margin-top: 1%;
    flex-direction: column;
}

.show-cost-cuisine-name {
    display: flex;
    flex-basis: 25%;
    margin-top: 3px;
    flex-direction: column;
    text-align: -webkit-center;
}

.cuisine-but {
    width: 70%;
    color: black;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
}

.show-time-but {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    background-color: white;
    color: #008CEE;
    border: 1px solid #008CEE;
    border-radius: 5px;
}

.show-cost-cuisine-info {
    flex-basis: 25%;
    font-size: 18px;
    text-align: -webkit-center;
    margin-top: 7px;
 
}

.dot-show {
    display: flex;
    font-weight: bold;
    flex-basis: 5%;
}


.parking-available-name {
    flex-grow: 1;
    margin-top: 3px;
}

.parking-available-info {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 7px;
}


.image-section-t {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.bike-imae-show {
    margin-left: 5px;
}
.car-image-show {
    margin-left: 1px;
}

.bike-show {
    height: 25px;
    width: 30px;
    padding: 2px 0px;
}

.car-show {
    height: 25px;
    width: 37px;
    padding: 2%;

}

.image-section {
    display: flex;
    flex-wrap: wrap;
    
}

.text-available-name {
    width: 100%;
}


.description-show {
    width: 90%;
    margin: 3px 22px;
    text-align: justify;
    word-wrap: break-word;
}

.view-but {
    color: #008CEE;
    border: transparent;
    background-color: transparent;
}

.offer-button-show {
    width: 100%;
    margin-bottom: 10px;
}

.offer-button-symbol {
    width: 90%;
    margin: 1px 20px;
    background: transparent;
    color: black;
}

.review-system-show {
    width: 60%;
}

.available-offer-show {
    width: 60%;
}


.flex-options {
    color: white;
    background-color: rgb(74, 140, 184);
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    border: transparent;
    font-size: 18px;
    display: inline-flex;
    align-items: center; 
    height: 40px;
    text-align: -webkit-center;
    padding-top: 6px;
}

.flex-options:hover {
    border-top: 2px solid white;
}

.menu-flex {
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.rating-system-card {
    width: 60%;
}

.opening-hours-show {
    width: 60%;
}

@media screen and (max-width:1200px) {
    .child-start {
        width: 100%;
        margin-left: 0%;
    }
    .bar-at-top {
        display: flex;
        flex-wrap: nowrap;
    }
    .full-scale-image {
        width: 100%;
        height: 100%;
        object-fit:cover;

    }
    .menu-flex {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        left: 0;
        right: 0;
    }

    .image-section_p {
        flex-basis: 65%;
        margin-top: 81px;
    }

    .show-type-info {
        width: 35%;
        margin-top: 82px;
        display: flex;
        text-align: left;
        
    }
    .flex-options {
        flex-direction: nowrap;
        flex-grow: 1;
        font-size: 17px;
        padding: 5px 5px;
        word-wrap: break-word;
    }
    .available-offer-show {
        width: 99%;
        margin-top: 10px;
    }

    .opening-hours-show {
        width: 99%;
        margin-top: 10px;
    }

    .rating-system-card {
        width: 99%;
    }

    .review-system-show {
        width: 99%;
    }
}

@media screen and (max-width: 900px) {
    .child-start {
        width: 100%;
        margin-left: 0%;
    }
    .bar-at-top {
        display: inline-block;
        width: 100%;
    }
    .full-scale-image {
        width: 100%;
        height: 150px;
        transition: .25s ease;

    }

    .full-scale-image:hover {
        height: 300px;
        transition: .5s ease;

    }
    .available-offer-show {
        width: 100%;
        margin-top: 10px;
    }

    .opening-hours-show {
        width: 100%;
        margin-top: 10px;
    }

    .rating-system-card {
        width: 100%;
    }

    .review-system-show {
        width: 100%;
    }
    
    .menu-flex {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        left: 0;
        right: 0;
    }

    .line-show-none {
        display: none;
    }

    .image-section_p {
        flex-basis: 100%;
        margin-top: 80px;
    }

    .show-type-info {
        width: 100%;
        display: flex;
        
    }
    .flex-options {
        flex-direction: nowrap;
        flex-basis: 24.5%;
        font-size: 15px;
        height: 50px;
        padding: 5px 5px;
        padding-top: 10px;
        word-wrap: break-word;
    }

    .show-type-info {
        margin-top: 0px;
        margin-left: 0px;
        display:block;
        width: 100%;
        flex-direction: column;
    }    
    
    .description-show {
        display: none;
    }
    
    .offer-button-show {
        width: 100%;
        display: none;
        margin-bottom: 10px;
    }
    
    .offer-button-symbol {
        width: 90%;
        margin: 1px 20px;
    }

    .modal-vis {
        width: 100% !important;
    }
}