
.cards {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 2%;
    margin-right: 2%;
    border: none;
    margin-top: 1.5%;

}
.flex-layout {
   display: flex;
   overflow-x: scroll;
   height: 330px;
}

.flex-layout_section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
   
 }

.top-space {
    display: flex;
    flex-wrap: wrap;
    background-color: #008ECC;
}

.rating-space {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    text-align: 10px;
    margin-left: 2%;
    color:white;
    width:20%;
    font-weight: bolder;
    font-size: 20px;
}

.cuisine-name {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    color:white;
    text-align: -webkit-right;
    font-size: 18px;
}

.small-character-info {
    font-size: 15px;
    margin-top: 8px;
}

.modal-class {
    position: absolute;
}

.card-time {
    margin-top: -150px;
}

.status-button {
    float: right;
   color: white;
   background-color: rgb(31, 133, 223);
   font-weight: bold;
   width: 20%;
   padding: 1%;
   text-align: -webkit-center;
}

.card-name-information {
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
}

.name-info-first-half {
    flex-basis: 75%;
    font-size: 20px;

}

.rating-info {
    display: flex;
    font-size: 23px;
}

.card-image {
    height: 150px;
    width: 300px;
}

.card-body-information {
    padding: 2%;
    border: 1px solid rgb(214, 210, 210);
}

.cuisine-star {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
    font-size: 15px;
}

.cuisine-info {
    width: 60px;
    flex-basis: 20%;
    text-align: -webkit-center;
    padding: 1%;
    border: 1px solid black;
}

.average-cost-information {
    flex-grow: 1;
    padding: 1%;
    text-align: -webkit-right;
    font-size: 1.1em;
}

.button-offer {
    margin-top: 120px;
    width: 100%;
    padding: 1%;
    border: none;
    border-radius: 0px;
}

.gold-star-image {
    height: 15px;
    width:15px;
    margin-left: 3px;
    margin-top: 10px;
}

.front-image {
    height: 150px;
    width: 300px;
}

.front-image:hover {
    border: 3px solid white;
    transition: all .20s ease-in-out;
}

.card-image:hover .card-go-button {
    display: inline-block;
}

.card-go-button:hover {
    color:white;
    background-color: transparent;
    border-radius: 5px;
}


.card-go-button:hover  .front-image {
    border: 2px solid white;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;

}


.card-information {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 300px;
    font-size: 15px;
}

.card-button {
    margin: 0px;
}



.card-go-button_ {
    width: 40%;
    opacity: 1;
    margin-top: -100px;
    margin-left: 80px;
    font-weight: bolder;
    font-size: 18px;
    z-index: 20;
    display: none;
}

.card-first {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.card-address {
    font-size: 13px;
    padding-left: 2%;
  /*  font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Raleway;

}

.card-open {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-description {
    margin-top: 1%;
    font-size: 15px;
    width:60%;
}

.card-enlarged-full_ {
    display: flex;
    flex-wrap: wrap;
}

.card-close-button {
    border: transparent;
    margin-top: 5%;
    margin-left: 45%;

}