
.cards {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-top: 1%;
}
.flex-layout {
    display: flex;
    flex-wrap: wrap;
}

.top-space {
    display: flex;
    flex-wrap: wrap;
    background-color: #008ECC;
}

.rating-space {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    text-align: 10px;
    margin-left: 2%;
    color:white;
    width:20%;
    font-weight: bolder;
    font-size: 20px;
}

.cuisine-name {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    color:white;
    text-align: -webkit-right;
    font-size: 18px;
}

.modal-class {
    position: absolute;

}
.status-button {
    background-color: #008ECC;
    color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
    overflow: auto;
    font-size: 20px;
}

.card-image {
    height: 150px;
    width: 300px;
}

.front-image {
    height: 150px;
    width: 300px;
}

.front-image:hover {
    border: 1px solid white;
}

.card-image:hover .card-go-button {
    display: inline-block;
}

.card-go-button:hover {
    color:white;
    border-radius: 5px;
    display: inline-block;  
}


.card-go-button:hover  .front-image {
    border: 1px solid white;
    opacity: 0.3;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}


.card-information {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 300px;
    font-size: 15px;
}

.card-go-button {
    width: 40%;
    opacity: 1;
    z-index: 20;
    margin-top: -100px;
    margin-left: 80px;
    font-weight: bolder;
    font-size: 18px;
    filter: opacity(1.0);
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    display: none;

}
.card-first {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.card-address {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.card-name {
    font-size: 25px;
}

.card-open {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-description {
    margin-top: 1%;
    font-size: 15px;
    width:60%;
}

.card-enlarged-full_ {
    display: flex;
    flex-wrap: wrap;
}

.card-close-button {
    border: transparent;
    margin-top: 5%;
    margin-left: 45%;

}