.rating-content {
    margin-top: 2%;
    height: 100%;
    border: 1px solid white;
    background-color: white;
    box-shadow: 10px 15px 8px #888888;
}

.rating-heading {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name-rating-head {
    display: flex;
    flex-basis: 90%;
}

.message-show-icon-show {
    height: 30px;
    width: 30px;
    opacity: 0.7;
    padding: 1%;
}

.image-embedded {
    display: flex;
    flex-basis: 4%;
    padding-top: 1%;
}

.show-length {
    display: flex;
    flex-basis: 1.5%;
    font-size: 18px;
    margin-top: 1%;
}

.line-show-but {
    border: 1px solid black;
    width: 95%;
    opacity: 0.1;
}

.swipe-buttons {
    display: flex;
    flex-wrap:wrap;
    padding: 1%;
}

.left-button {
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    background-color: white;
    color: #008CEE;
    border: 1px solid #008CEE;
    text-align: -webkit-center;
    font-size: 15px;
}

.empty-space {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    
}
.right-button {
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    background-color: white;
    color: #008CEE;
    border: 1px solid #008CEE;
    text-align: -webkit-center;
    margin-left: 2%;
    font-size: 15px;
}

.view-all-show {
    margin-left: 40%;
    margin-top: 2%;
    
}

.view-all-show-but {
    font-size:20px;
    text-align: -webkit-center;
    color: #008CEE;
    background-color: transparent;
    border-radius: 5px;
    border: transparent;
    width: 35%;
    height: 20%;
}

.view-all-show-but:hover {
    color: white;
    background-color: #008CEE;
}


.rating-body {
    font-size: 20px;
    padding: 2%;
    width: 95%;
    display: flex;

}

.image-rating-body {
    display: flex;
    flex-basis: 10%;
    float: -webkit-right;
    justify-content: center;
}


.description-body {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap; 

}

.description-head-body {
    width: 100%;
    height: 40%;
    display: flex;
    font-size: 15px;
}


.description-desc-body {
    width: 100%;
    font-size: 17px;
}

.profile-image {
    width: 60px;
    height: 70px;
    background-position: cover;
    display: inline-flex;
    border-radius: 70%;  
}

.rating-system-show{
    font-size:14px;
}

.star-image-show {
    height: 12px;
    width:12px;
}