.parent-card {
    height: 100%;
    width:100%;
    background-color: #f5f5f5;
}

.bar-at-top {
    display: flex;
    flex-wrap: wrap;
}

.child-start {
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
}

.show-type-info {
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    display:flex;
    flex-direction: column;
    flex-basis: 30%;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 10px 15px 8px #888888;

}

.image-section {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.customer-rating {
    display: flex;
    flex-direction: column;
    flex-basis:30%;
    font-size: 30px;
    margin-top: 6%;
    text-align: -webkit-right;
}

.star-show {
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1%;
    float: left;
}

.menu-flex {
    display: flex;
    flex-wrap: wrap;
}
.card-address-info {
    padding-left: 5%;
    padding-top: 3%;
    font-size: 15px;
    display: flex;
    flex-basis: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.star-image {
  height: 25px;
  width: 25px;
}

.card-info {
    display: flex;
    height: 70px;
}

.card-name-info {
    padding-left: 5%;
    padding-top: 6%;
    font-size: 35px;
    display: flex;
    flex-basis: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.flex-options {
    color: white;
    background-color: #008CEE;
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    border: transparent;
    font-size: 18px;
    display: inline-flex;
    align-items: center; 
    height: 40px;
    text-align: -webkit-center;
    padding-top: 6px;
}

.flex-options:hover {
    border-top: 2px solid white;
}


.first-half-address {
    display: flex;
    flex-basis: 82%;
    flex-direction: column;

}

.second-half-address {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 7%;
}

.message-show-icon {
    height: 30px;
    width: 30px;
    opacity: 0.7;
}

.show-count-message {
    margin-left: 15%;
    font-size: 10px;
}

.go-map {
    padding-left: 5%;
    margin-top: -14%;
    font-size: 15px;
    display: flex;
}

.go-map-button {
    background-color: white;
    color: #008CEE;
    font-size: 15px;
    width: 20%;
    height: 30px;
    border: 1px solid #008CEE;
    border-radius: 10px;

}

.line-show { 
    stroke:rgb(0,0,0);
    stroke-width:2
  }

.line-show {
    margin-top: 2%;
    border: 1px solid black;
    width: 90%;
    opacity: 0.05;
}

.offer-button-show {
    width: 100%;


}

.show-name-offer {
    font-size: 17px;
    margin-left: 5%;
    width: 100%;

}

.offer-button-symbol {
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    border: 1px solid #008CEE;
    border-radius: 10px;

}
.go-map-button:hover {
    background-color: #008CEE;
    color: white;
}

.cuisine-record-row-name {
    display: flex;
}

.cuisine-record-row-info {
    display: flex;
}


.cuisine-name-show-name {
    display: flex;
    text-align: -webkit-center;
    flex-basis: 30%;
    flex-direction: column;
    margin-top: 1%;
}

.cuisine-name-show-info {
    display: flex;
    text-align: -webkit-center;
    flex-basis: 30%;
    margin-top: 1%;
    flex-direction: column;
}

.show-cost-cuisine-name {
    display: flex;
    flex-basis: 25%;
    margin-top: 1%;
    flex-direction: column;
    text-align: -webkit-center;
}

.cuisine-but {
    width: 50%;
    background-color: white;
    color: #008CEE;
    border: 1px solid #008CEE;
    border-radius: 5px;
}

.show-time-but {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    background-color: white;
    color: #008CEE;
    border: 1px solid #008CEE;
    border-radius: 5px;
}

.show-cost-cuisine-info {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    text-align: -webkit-center;
    margin-top: 1%;
 
}

.dot-show {
    display: flex;
    font-weight: bold;
    flex-basis: 5%;
}


.parking-available-name {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 1.5%;
}

.parking-available-info {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.bike-show {
    height: 25px;
    width: 30px;
}

.car-show {
    height: 25px;
    width: 37px;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    
}

.text-available-name {
    width: 100%;
}

.bike-image-show {
    display: flex;
    flex-basis: 40%;
}
.car-image-show {
    display: flex;
    flex-basis: 50%;
    margin-left: 5%;
}

.description-show {
    width: 90%;
    margin-left: 5%;
}

.view-but {
    color: #008CEE;
    border: transparent;
    background-color: transparent;
    
}

.red-show {
    display: flex;
    color: white;
    height: 25px;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    margin-left: 1%;
}

.yellow-show {
    display: flex;
    color: black;
    height: 25px;
    font-size: 15px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: yellow;
    margin-left: 1%;
}

.green-show {
    display: flex;
    color: white;
    height: 25px;
    font-size: 15px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    margin-left: 1%;
}


.review-system-show {
    width: 60%;
}

.available-offer-show {
    width: 60%;
}

.rating-system-card {
    width: 60%;
}

.opening-hours-show {
    width: 60%;
}