.cards-deals {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.card-image-deals {
    width: 100%;
}


.front-image-deals {
    border-radius: 15px;
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: cover;
}

.card-information-deals {
}

.card-first-deals {
    padding: 1%;

   
}

.card-name-deals {
    padding: 1%;
    font-family: Roboto;
}

.offer-name-deals {
    background-color: green;
    color: white;
    width: 70px;
    padding: 2%;

}


