.cards-deals_ {
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-left: 5%;
    width: 30%;
}

.front-image-deals {
    border-radius: 15px;
    height: 200px;
    width: 300px;
    padding-left: 2%;
    background-position: center;
    background-size: cover;
}

.card-first-deals {
    padding: 1%;   
}

.card-name-deals {
    padding: 1%;
    font-family: Roboto;
}

.offer-name-deals {
    background-color: green;
    color: white;
    width: 70px;
    padding: 2%;

}

.cards-deals-home {
    width: 100%;
    height: 100%; 
    margin-bottom: 20px;
}

.top-deals-home {
    display: flex;
    height: 50px;
}

.top-deals-home-name {
    flex-basis: 90%;
    font-size: 2.0em;
    font-family: Roboto;
    padding: 1%;
}



.front-image-deals-home {
   height: 300px;
   padding: 1%;
   margin-top: 25px;
   object-fit: contain;
}


@media screen and (max-width: 800px) {
    .top-deals-home-name {
        flex-basis: 100%;
        font-size: 27px;
        font-family: Roboto;
        padding: 10px;
    }

    .front-image-deals-home {
        height: 200px;
        margin-top: 15px;
        padding: 2px;
        background-position: center;
        background-size: cover;
        width: 98%;
        border-radius: 10px;
        display: none;
     }
}
