.discover-entire-body {
    margin-top: 8%;
    height: 100%;
    border: 1px solid white;
    background-color: white;
    color: black;
    width:95%;
    margin-left: 2%;
}

.discover-entire-body-head{
    display: flex;
    flex-wrap: wrap;
}

.discover-entire-body-bottom {
    margin: 0px;
}

.discover-button-all {
    flex-grow: 1;
    padding-top: 1%;
}

.view-all-button {
    width: 50%;
}

#country-select-demo {
    width: 100% !important;
}

.discover-text {
    color: #008CEE;
    font-family: Raleway;
    font-size: 30px;
    flex-basis: 90%;
    padding-left: 50%;
    text-shadow: 0.5px 0.5px 0.5px #888888;

}

.line-show-dis {
    border: 1px solid black;
    width: 90%;
    opacity: 0.1;
}


.discover-entire-body-bottom {
    padding: 2%;

}

.discover-entire-body-bottom-search {
    width: 100%;
    align-content: center;
    margin-left: 0%;
    display: flex;
    background-color: transparent;
    border-radius: 10px;
}

.search_box_discover {
    width: 100%;
    align-content: center;
    display: inline-block;
    background-color: transparent;
    border-radius: 10px;

}

.dropdown-box-cuisine {
    flex-basis: 22%;
    margin-left: 0%;
    margin-top: 5px;
    display: inline-block;
}


.search-box-dis {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    height: 50px;
    text-align: -webkit-center;
    width: 100%;
    border-radius: 5px;
    border: transparent;
}

.know-more {
    text-align: -webkit-center;
    margin-top: 2%;
}
.grab-button {
    border: transparent;
    background-color: #008CEE;
    color: white;
    padding: 5px 10px;
    margin-right: 2%;
    border-radius: 5px;
    font-size: 20px;
}


@media screen and (max-width: 1300px) {
    .discover-entire-body {
        margin-top: 140px;
        height: 100%;
        border: 1px solid white;
        background-color: white;
        color: black;
        width: 90%;
        margin-left: 5%;
    }
    
    .discover-entire-body-head{
       display: block;
       text-align: left;
       width: 70%;
       padding: 2%;
    }
        
    .discover-button-all {
        flex-grow: 1;
        padding-top: 1%;
    }
    
    .view-all-button {
        width: 50%;
    }
    
    
    .discover-text {
        color: #008CEE;
        font-family: Raleway;
        font-size: 30px;
        flex-basis: none;
        padding-left: 0px;
        text-shadow: 0.5px 0.5px 0.5px #888888;
    
    }
    
    .line-show-dis {
        border: 1px solid black;
        width: 90%;
        opacity: 0.1;
    }
    
    .discover-entire-body-bottom-search {
        width: 100%;
        margin-left: 0px;
        box-shadow: 1px 2px 1px 3px grey;
        display: block;
        flex-wrap: nowrap;
    }
    
    .dropdown-box-cuisine {
        width: 30%;
    }
    
    .search-box-dis {
        flex-basis: none;
        height: 50px;
        width: 90%;
        font-size: 17px;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
        margin-left: 5%;
        border-radius: 5px;
        border: transparent;
        border-bottom: 1px solid #f5f5f3;
    }

    .know-more {
        padding: 0.5%;
    }
    
    .grab-button {
        width: 200px;
        padding: 0%;
        margin-right: 0px;
        border-radius: 5px;
        font-size: 18px;
        background: transparent;
        color: black;
        border: 1px solid black;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 800px) {
    .discover-entire-body {
        width: 100%;
        margin-left: 0%;
    }
    
    .discover-entire-body-head{
       display: block;
       text-align: left;
       width: 100%;
       padding: 3%;
    }
        
    .discover-text {
        color: #008CEE;
        font-family: Raleway;
        font-size: 23px;
        flex-basis: none;
        padding-left: 0px;    
    }
    
    .line-show-dis {
        border: 1px solid black;
        width: 90%;
        opacity: 0.1;
    }
    
    .discover-entire-body-bottom-search {
        width: 100%;
        margin-left: 0px;
        box-shadow: 1px 2px 1px 3px grey;;
        display: block;
        flex-wrap: nowrap;
    }
    
    .dropdown-box-cuisine {
        width: 30%;
    }
    
    .search-box-dis {
        flex-basis: none;
        height: 50px;
        width: 95%;
        font-size: 15px;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
        margin-left: 2%;
        border-radius: 5px;
        border: transparent;
        border-bottom: 1px solid #f5f5f3;
    }

    .know-more {
        padding: 0.5%;
    }
    
    .grab-button {
        height: 40px;
        width: 200px;
        padding: 0%;
        background: transparent;
        color: black;
        border: 1px solid black;
        margin-right: 0px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 15px;
    
    }

    #country-select-demo {
        width: 30% !important;
        font-size: 15px;
    }
    
    
}