.discover-entire-body {
    margin-top: 8%;
    height: 100%;
    border: 1px solid white;
    background-color: white;
    color: black;
    width: 95%;
    margin-left: 2%;
}

.discover-entire-body-head{
    display: flex;
    flex-wrap: wrap;
}

.discover-entire-body-bottom {
    margin: 0px;
}

.discover-button-all {
    flex-grow: 1;
    padding-top: 1%;
}

.view-all-button {
    width: 50%;
}


.discover-text {
    color: #008CEE;
    font-family: Raleway;
    font-size: 30px;
    flex-basis: 90%;
    padding-left: 50%;
    text-shadow: 0.5px 0.5px 0.5px #888888;

}

.line-show-dis {
    border: 1px solid black;
    width: 90%;
    opacity: 0.1;
}


.discover-entire-body-bottom {
    padding: 2%;

}

.discover-entire-body-bottom-search {
    width: 83%;
    margin-left: 10%;
    box-shadow: 1px 2px 1px 3px grey;;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border-radius: 10px;

}

.dropdown-box-cuisine {
    flex-basis: 10%;
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
}

.show-dropdown-city {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}

.show-dropdown-city a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

.city-text {
  background-color: #4CAF50;
  color: white;
  width: 100%;
  padding: 5%;
  height: 50px;

  font-size: 16px;
  border: none;
}

.fa {
    margin-left: 10%;
}

.fa .fa-caret-up {
    display: none;
}

.dropdown-box-cuisine:hover .show-dropdown-city {
    display: block;
}


.search-box-dis {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-basis: 50%;
    height: 50px;
    text-align: -webkit-center;
    width: 50%;
    border-radius: 5px;
    border: transparent;
}

.selected-list {
    width: 75%;
    margin-left: 12%;
    display: flex;
    color: white;
}

.know-more {
    text-align: -webkit-center;
    flex-grow: 1;
    margin-top: 2%;
}
.grab-button {
    border: transparent;
    background-color: #008CEE;
    color: white;
    width: 90%;
    padding: 2%;
    margin-right: 2%;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}


@media screen and (max-width: 1300px) {
    .discover-entire-body {
        margin-top: 140px;
        height: 100%;
        border: 1px solid white;
        background-color: white;
        color: black;
        width: 90%;
        margin-left: 5%;
    }
    
    .discover-entire-body-head{
       display: block;
       text-align: left;
       width: 70%;
       padding: 2%;
    }
        
    .discover-button-all {
        flex-grow: 1;
        padding-top: 1%;
    }
    
    .view-all-button {
        width: 50%;
    }
    
    
    .discover-text {
        color: #008CEE;
        font-family: Raleway;
        font-size: 30px;
        flex-basis: none;
        padding-left: 0px;
        text-shadow: 0.5px 0.5px 0.5px #888888;
    
    }
    
    .line-show-dis {
        border: 1px solid black;
        width: 90%;
        opacity: 0.1;
    }
    
    .discover-entire-body-bottom-search {
        width: 100%;
        margin-left: 0px;
        box-shadow: 1px 2px 1px 3px grey;;
        display: block;
        flex-wrap: nowrap;
    }
    
    .dropdown-box-cuisine {
        width: 30%;
    }
    
    .show-dropdown-city {
        width: 24%;    
    }
    
    .show-dropdown-city a {
        color: black;
        text-decoration: none;
        display: block;
      }
      
    
    .city-text {
      width: 100%;
      padding: 1%;
      height: 50px;  
      font-size: 16px;
      border: none;
    }
    
    .fa {
        margin-left: 10px;
    }
    
    .fa .fa-caret-up {
        display: none;
    }
    
    .dropdown-box-cuisine:hover .show-dropdown-city {
        display: block;
    }
    
    
    .search-box-dis {
        flex-basis: none;
        height: 50px;
        width: 90%;
        font-size: 17px;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
        margin-left: 5%;
        border-radius: 5px;
        border: transparent;
        border-bottom: 1px solid #f5f5f3;
    }

    .know-more {
        padding: 0.5%;
    }
    
    .grab-button {
        width: 200px;
        padding: 0%;
        margin-right: 0px;
        border-radius: 5px;
        font-size: 18px;
        background: transparent;
        color: black;
        border: 1px solid black;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 800px) {
    .discover-entire-body {
        width: 100%;
        margin-left: 0%;
    }
    
    .discover-entire-body-head{
       display: block;
       text-align: left;
       width: 100%;
       padding: 3%;
    }
        
    .discover-text {
        color: #008CEE;
        font-family: Raleway;
        font-size: 23px;
        flex-basis: none;
        padding-left: 0px;    
    }
    
    .line-show-dis {
        border: 1px solid black;
        width: 90%;
        opacity: 0.1;
    }
    
    .discover-entire-body-bottom-search {
        width: 100%;
        margin-left: 0px;
        box-shadow: 1px 2px 1px 3px grey;;
        display: block;
        flex-wrap: nowrap;
    }
    
    .dropdown-box-cuisine {
        width: 30%;
    }
    
    .show-dropdown-city {
        width: 28%;    
    }
    
    .show-dropdown-city a {
        color: black;
        text-decoration: none;
        display: block;
      }
      
    
    .city-text {
      width: 100%;
      padding: 2%;
      height: 35px;  
      font-size: 15px;
      border: none;
    }
    
    .fa {
        margin-left: 10px;
    }
    
    .fa .fa-caret-up {
        display: none;
    }
    
    .dropdown-box-cuisine:hover .show-dropdown-city {
        display: block;
    }
    
    
    .search-box-dis {
        flex-basis: none;
        height: 50px;
        width: 95%;
        font-size: 15px;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: center;
        margin-left: 2%;
        border-radius: 5px;
        border: transparent;
        border-bottom: 1px solid #f5f5f3;
    }

    .know-more {
        padding: 0.5%;
    }
    
    .grab-button {
        height: 40px;
        width: 200px;
        padding: 0%;
        background: transparent;
        color: black;
        border: 1px solid black;
        margin-right: 0px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 15px;
    
    }
    
}