.hello-format {
    font-size:20px;
    border: 0px solid red;

   
}

.main-toolbar {
    width:100%;
    margin-bottom: 5%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color:#008ECC;;
    height:70px;  
    display: flex;
    flex-wrap: wrap;     
}


.image-home {
    width: 40px;
    height: 40px;
}

.end-toolbar {
    width:100%;
    float: right;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color:#008ECC;;
    height:50px;  
    display: flex;
    flex-wrap: wrap;     
}


.image-to-show {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 1%;
    width:35px;
    height: 35px;
    flex-basis: 2%;
    display: flex;
    flex-direction: column;
}

.logo-text {
    margin-top: 0.5%;
    justify-content: center;
    font-size: 30px;
    color:white;
    flex-basis: 65%;
    display: flex;
    flex-direction: column;

}

.btn-primary-home {
    margin-top: 0.5%;
    justify-content: center;
    border: 0px solid white;
    font-size: 20px;
    color: white;
    text-align: -webkit-center;
    background-color: #008ECC;;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
}

.btn-primary-contact {
    margin-top: 0.5%;
    justify-content: center;
    border: 0px solid white;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    text-align: -webkit-center;
    background-color: #008ECC;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
}


.btn-primary-home:hover {
    border-bottom: 1px solid white;
}

.btn-primary-contact:hover {
    border-bottom: 1px solid white;
}

.app {
    display: flex;
    margin-top: 5%;
    margin-left: 7%;
}

.login {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.signUp {
    margin-left: 10%;
    flex-grow: 1;
}

.login-option {
    margin: 0px;
}

.middle-dash {
}


.middle-hr {
    margin-top: 10%;
    margin-left: 32%;
    font-weight: bold;
    color:#008ECC;

}

.signup-button {
    margin-top: 8%;
}


.signup-but-card {
    margin-left: 20%;
    background-color: #008ECC;
    color:white;
    height: 55px;
    width:30%;
    overflow:none;
    font-size: 15px;
    border-radius: 10px;
}


.show-top-search-bar {
    padding: 5%;
    background-image: url('./../image/rest.jpg');
    background-size: cover;
    background-position: bottom;
    width: 80%;
    color: white;
    font-weight: bold;
    margin-left: 7%;
    height: 100%;
    border: 1px solid white;
    box-shadow: 10px 15px 8px #888888;
}

.top-content-bar {

}

.top-content-bar-head {
    font-size: 25px;
    width: 100%;
    text-align: -webkit-center;    
}

.top-content-search-bar {
    padding: 2%;
    width: 80%;
    margin-left: 10%;
}

.search-bar {
    border: 1px solid #008ECC;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.search-bar-1 {
    border: transparent;
    display: flex;
    flex-direction: column;
    flex-basis: 54%;
}

.search-button_ {
    text-align: -webkit-center;
    display: flex;
    flex-grow: 1; 
    font-size: 17px;
}

.dropdown-categories_ {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    padding: 1%;
    border-radius: 25%;
}
