.hello-format {
    font-size:20px;
    border: 0px solid red;
   
}

.main-toolbar {
    width:100%;
    margin-bottom: 5%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color:#008ECC;;
    height:100px;  
    display: flex;
    flex-wrap: wrap;     
}

.end-toolbar {
    width:100%;
    float: right;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color:#008ECC;;
    height:50px;  
    display: flex;
    flex-wrap: wrap;     
}


.image-to-show {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 1%;
    width:35px;
    height: 35px;
    flex-basis: 2%;
    display: flex;
    flex-direction: column;
}

.logo-text {
    margin-top: 2%;
    vertical-align: center;
    font-size: 40px;
    color:white;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;

}

.btn-primary-home {
    margin-top: 2%;
    margin-left:34%;
    height: 30px;
    width:10%;
    border: 0px solid white;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    text-align: -webkit-center;
    background-color: #008ECC;;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
}

.btn-primary-contact {
    margin-top: 2%;
    margin-left:1%;
    height: 30px;
    width:10%;
    border: 0px solid white;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    text-align: -webkit-center;
    background-color: #008ECC;;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
}


.btn-primary-home:hover {
    border-bottom: 1px solid white;
}

.btn-primary-contact:hover {
    border-bottom: 1px solid white;
}

.app {
    display: flex;
}

.login {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.signUp {
    margin-left: 20%;
    margin-top: -15px;
    flex-grow: 1;
    height: 50vh;
    top: 0;
    display: flex;
    position: initial;
}