.main-home {
    height: 100%;
    width:100%;
}

.tool-bar {
    width: 100%;
    height: 80px;
    position: relative;
}

.deals-bar {
    width: 100%;
    height: 200px;
}

.options-bar {
    width: 100%;
}

.restaurant {
   width: 100%; 
}