.home-dd-full {
    width: 15%;
    position: fixed;
    height: 100%;

}

.home-dd-first-box {
    margin: 0px;
}

.name-box {
    display: flex;
    flex-wrap: wrap;
    text-align: -webkit-center;
    padding: 4%;
}

.image-name-box {
    flex-basis: 20%;
    height: 40px;
    color: white;
    padding:1%;
    margin-top: 2%;
}

.image-src {
    background-image: url('./../image/profile.jpg');
    border-radius: 50%;
    height:50px;
    width:50px;
    background-position: top;
    background-size: cover;
}

.name-in-name-box {
    flex-basis: 70%;
    padding: 1%;
    margin-top: 2%;
    font-size: 1.0em;
    word-wrap: break-word;
}

.login-button-box {
    width: 100%;
    padding: 5%;
}

.but-login {
    width: 70%;
    margin-left: 10%;
    text-align: -webkit-center;
    background-color: white;
    color:rgb(74, 140, 184);
    margin: none;
    border: 1px solid blue;
    border-radius: 5px;
}

.option:hover {
    background-color: whitesmoke;
    font-weight: bold;
    border-left: 5px solid rgb(74, 140, 184);
}

.dd-options-available {
    padding: 1%;
    margin-top: 10%;
    font-family: Raleway;
}

.enclosing-options {
    width: 100%;
    margin-left: 5%;

}

.option {
    height: 50px;
    width: 90%;
    font-size: 1.2em;
    color: black;
    text-align: -webkit-center;
    background-color: transparent;
    border: none;
}

.bar-DD-heading-t {
    margin-top: 5%;
    height: 50px;
    font-family: Raleway;
    padding: 3%;
    font-weight: bold;
    background-color: whitesmoke;
    font-size: 1.4em;
    text-align: -webkit-center;
}

.bar-DD-heading-t::after {
    float: right;
    content: ' \02C7';
    font-size: 1.8em;
}