.main-home {
    height: 100%;
    width:100%;
}

.tool-bar {
    width: 100%;
    height: 80px;
    position: relative;
}

.deals-bar {
    width: 100%;
    height: 200px;
}

.options-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.column-first {
    flex-basis: 15%;
}

.column-second {
    flex-grow: 1;
    width: 80%;
}

.restaurant {
   width: 98%;
}

.groceries {
    width: 98%;
}

.top-deals-info {
    display: flex;
    
}