.introduction-page {
    height: 100%;
    width:100%;
    overflow: hidden;

}

.footer-body {
    margin-top: 2%;
    width: 100%;
    height: 50px;
    background-color: rgb(74, 140, 184);
    overflow: hidden;
    text-align: -webkit-center;
    color: white;
    padding: 1%;
    font-size: 17px;
}

.footer-body-city {
    margin-top: 2%;
    width: 100%;
    height: 50px;
    background-color: rgb(74, 140, 184);
    bottom: 0;
    left: 0;
    text-align: -webkit-center;
    color: white;
    padding: 1%;
    font-size: 17px;
}

.introduction-page-head {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(74, 140, 184);
    display: flex;
    flex-wrap: wrap;


}

.introduction-head-image_ {
    display: flex;
    flex-direction: column;

}

.empty-section_ {
    display: flex;
    flex-direction: column;
    flex-basis: 13%;
}

.logo-image {
    margin-top: 15px;
    height: 50px;
    width: 45px;
    opacity: 1.0;
}

.introduction-head-name {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    margin-top:2px;
    margin-left: 1%;
    color: white;
    font-size: 40px;
    font-family:Raleway;
    text-align: -webkit-left;
}

.top {
    margin-top: -10px;
    font-size: 15px;
}
.introduction-search-box {
    display: flex;
    flex-basis: 30%;
}

.searching-bar {
    margin-top: 20px;
    display: flex;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.search-img {
    margin-top: 5px;
    height: 30px;
    width: 55px;
}

.searching-text {
    border: transparent;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}


.introduction-login {
    display: flex;
    flex-basis: 12%;
    margin-left: 5%;

}

.login-btn-intro {
    padding: 1%;
    margin: 14px;
    font-size: 17px;
    background: transparent;
    border: transparent;
    color: white;
    height: 50px;
}

.login-btn-intro:hover {
    border-bottom: 1px solid white;
}

.more-to-come {
    display: flex;
    flex-basis: 3%;
    flex-direction: column;
    color: white;
}

.register-business {
    margin-top: 5%;
    width: 100%;
    text-align: -webkit-center;
    height: 100%;
    font-weight: bold;

}

.register-business-head {
    width: 100%;
    padding: 1%;
    font-size: 35px;
    font-family: Roboto;
}

.register-business-body {
    width: 60%;
    margin-top: 1%;
    padding: 2%;
    font-size: 22px;
    text-align: justify;
    font-weight: lighter;
    font-family: Roboto;
}
 
.business-card {
    margin-top: 10px;
    font-size: 20px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
}


.business-card:hover {
    color: white;
    background-color: rgb(51, 177, 51);
    border: 1px solid rgb(51, 177, 51);
}
.center_button {
    font-size: 20px;
    padding: 2%;
    border-radius: 10px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.bar1  {
    margin-top: 10px;
    width: 35px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: 0.4s;

}

.bar2 {
    width: 35px;
    height: 3px;
    background-color:white;
    margin-bottom: 5px;
    transition: 0.4s;

}

.bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: 0.4s;

}   

.change {
    color: #008CEE;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-7px, 4px);
}

.change .bar2 {
    opacity: 0.0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-7px, -5px) ;
}

.introduction-page-body {
    padding: 1%;
}

.discover-intro-body {
    margin: 0px; 
}

.top-deals-body {
    margin: 0px; 
}

.mode-show {
    display: none;
    text-align: -webkit-right;
}

.popup-zone {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.blue-zone {
    flex-basis: 40%;
    background-color: rgb(74, 140, 184);
    padding: 2%;
}

.blue-zone-heading {
    margin-top: 25%;
    margin-left: 5%;
    width: 100%;
    text-align: -webkit-left;
    font-family: Raleway;
    font-size: 35px;
    color: white;
    font-weight: bolder;
}

.blue-zone-description {
    width: 100%;
    text-align: -webkit-left;
    margin-top: 15%;
    margin-left: 5%;
    font-size: 17px;
    color: white;
    word-wrap: break-word;
}

.close-but {
    border: none;
    color: white;
    background-color: transparent;
    width: 20%;
    height: 40px;
    font-weight: bold;
    border-radius: 0px;
}
.outer-div {
    background: transparent;
}

.close-but:hover {
    border-bottom: 1px solid white;
}
 .login-signup-show {
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
}
.login-box {
    height: 80%;
}

.create-signup-button {
    height: auto;
    padding: 2%;
    font-weight: bold;
    color: rgb(74, 140, 184);
    text-align: -webkit-center;

}

.create-signup-button:hover {
   color: blue;
}

.style_business_information {
    display: flex;
    flex-wrap: wrap;
}

.register-business {
    flex-basis: 50%;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {

    .register-business-body {
        width: 100%;
        font-size: 20px;
    }


    .style_business_information {
        display: block;
        flex-wrap: nowrap;
    }


    .register-business-head {
        width: 100%;
        padding: 4%;
        font-size: 29px;
        background-color: #f5f5f5;
        font-family: Roboto;
    }
    
    .business-card {
        margin-top: 10px;
        font-size: 20px;
        width: 300px;
        color: black;
        background-color: white;
        border: 1px solid black;
        padding: 1%;
        border-radius: 5px;
    }
    
    .center_button {
        font-size: 20px;
        padding: 2%;
        border-radius: 10px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    
}