.introduction-page {
    height: 100%;
    width:100%;
    overflow: hidden;

}

.footer-body {
    margin-top: 2%;
    width: 100%;
    height: 50px;
    background-color: rgb(74, 140, 184);
    overflow: hidden;
    text-align: -webkit-center;
    color: white;
    padding: 1%;
    font-size: 17px;
    bottom: 0;
    position: relative;
}

.footer-body-city {
    margin-top: 2%;
    width: 100%;
    height: 50px;
    background-color: rgb(74, 140, 184);
    bottom: 0;
    left: 0;
    text-align: -webkit-center;
    color: white;
    padding: 1%;
    font-size: 17px;
}

.introduction-page-head {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(74, 140, 184);
    display: flex;
    flex-wrap: wrap;
}

.introduction-head-image_ {
    display: flex;
    flex-direction: column;

}

.empty-section_ {
    display: flex;
    flex-direction: column;
    flex-basis: 13%;
}

.logo-image {
    margin-top: 15px;
    height: 50px;
    width: 45px;
    opacity: 1.0;
}

.introduction-head-name {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    margin-top:2px;
    margin-left: 1%;
    color: white;
    font-size: 40px;
    font-family:Raleway;
    text-align: -webkit-left;
}

.top {
    margin-top: -10px;
    font-size: 15px;
}

.introduction-search-box {
    display: flex;
    flex-basis: 30%;
}

.mobile-searchingbar {
    display: flex;
    margin-top:15px;
    flex-basis: 100%;
    background: white;
    border-radius: 5px;
    height: 50px;

}

.searching-text_ {
   border: none;
   padding: 2%;
   width: 100%;
   flex-basis: 100%;
   border-radius: 5px;
}

.search-but_ {
    display: flex;
    position: relative;
    height: 50px;
    background: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
}


.searching-bar {
    margin-top: 20px;
    display: flex;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.search-img {
    margin-top: 5px;
    height: 30px;
    width: 55px;
}



.introduction-login {
    display: flex;
    flex-basis: 12%;
    margin-left: 5%;
}

.contactus {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-top: -10px;

}

.contactus p {
    font-size: 12px;
    padding-left: 30px;
}

.phone-contact {
    font-size: 20px;
    background: transparent;
    color: white;
    height: 40px;
    width: 100%;
    border: none;
}
 

.login-btn-intro {
    padding: 1%;
    margin: 14px;
    font-size: 17px;
    background: transparent;
    border: transparent;
    color: white;
    height: 50px;
}

.login-btn-intro:hover {
    border-bottom: 1px solid white;
}

.more-to-come {
    display: flex;
    flex-basis: 3%;
    flex-direction: column;
    color: white;
}

.register-business {
    margin-top: 5%;
    width: 100%;
    text-align: -webkit-center;
    height: 100%;
    font-weight: bold;

}

.register-business-head {
    width: 100%;
    padding: 1%;
    font-size: 35px;
    font-family: Roboto;
}

.register-business-body {
    width: 60%;
    margin-top: 1%;
    padding: 2%;
    font-size: 22px;
    text-align: justify;
    font-weight: lighter;
    font-family: Roboto;
}
 
.business-card {
    margin-top: 10px;
    font-size: 20px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
}


.business-card:hover {
    color: white;
    background-color: rgb(51, 177, 51);
    border: 1px solid rgb(51, 177, 51);
}
.center_button {
    font-size: 20px;
    padding: 2%;
    border-radius: 10px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.bar1  {
    margin-top: 10px;
    width: 35px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: 0.4s;

}

.bar2 {
    width: 35px;
    height: 3px;
    background-color:white;
    margin-bottom: 5px;
    transition: 0.4s;

}

.bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: 0.4s;

}   

.change {
    color: #008CEE;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-7px, 4px);
}

.change .bar2 {
    opacity: 0.0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-7px, -5px) ;
}

.introduction-page-body {
    padding: 1%;
}

.discover-intro-body {
    margin: 0px;
}

.discover-name {
    margin-top: 90px; 
    text-align: -webkit-center;
    font-size: 37px;
    padding: 2%;
    background-color: rgb(250, 250, 250);
}

.discover_name_second {
    padding: 10px 0px;
    font-size: 20px;
}

.view-home-btn {
    color: black;
    padding: 2px;
    width: 200px;
    height: 50px;
}


.top-deals-body {
    margin: 0px; 
}

.mode-show {
    display: none;
    text-align: -webkit-right;
}

.popup-zone {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.blue-zone {
    flex-basis: 40%;
    background-color: rgb(74, 140, 184);
    padding: 2%;
}

.blue-zone-heading {
    margin-top: 25%;
    margin-left: 5%;
    width: 100%;
    text-align: -webkit-left;
    font-family: Raleway;
    font-size: 35px;
    color: white;
    font-weight: bolder;
}

.blue-zone-description {
    width: 100%;
    text-align: -webkit-left;
    margin-top: 15%;
    margin-left: 5%;
    font-size: 17px;
    color: white;
    word-wrap: break-word;
}

.close-but {
    border: none;
    color: white;
    background-color: transparent;
    width: 20%;
    height: 40px;
    font-weight: bold;
    border-radius: 0px;
}
.outer-div {
    background: transparent;
}

.close-but:hover {
    border-bottom: 1px solid white;
}
 .login-signup-show {
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
}
.login-box {
    height: 80%;
}

.create-signup-button {
    height: auto;
    padding: 2%;
    font-weight: bold;
    color: rgb(74, 140, 184);
    text-align: -webkit-center;

}

.create-signup-button:hover {
   color: blue;
}

.style_business_information {
    display: flex;
    flex-wrap: wrap;
}

.register-business {
    flex-basis: 50%;
    flex-direction: column;
}


.more-to-come {
    display: none;
}



.show-options_t {
    display: none;
}


.slideAcross {
    display: none;
}

.topic-option_t {
    font-family: Raleway;
    font-size: 22px;
    width: 78%;
    margin-left:12%; 
    
}


.see_but {
    height: 45px;
    margin-top: 10px;
    background-color: transparent;
    color: black;
    width: 200px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
}



@media screen and (max-width: 1200px) {
    .introduction-search-box {
        display: flex;
        flex-basis: 70%;
    }
    
    .searching-bar {
        display: none;
    }
    
    .mobile-searchingbar {
        display: flex;
        flex-basis: 80%;
        align-items: center;
        background: white;
        border-radius: 5px;
        margin-top: 0px;
        height: 50px;

    }

    .searching-text_ {
       border: none;
       padding: 2%;
       
       width: 100%;
       border-radius: 5px;
    }

    .search-but_ {
        display: flex;
        position: relative;
        height: 50px;
        background: rgb(236, 236, 236);
        border: none;
        border-radius: 5px;
    }
    
    .introduction-page-head {
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    .empty-section_ {
        flex-direction: none;
        flex-basis: 2%;
    }

    .logo-image {
        margin-top: 0px;
        margin-right: 20px;
        height: 40px;
        width: 40px;
    }
    
    .introduction-head-name {
        display:flex;
        flex-direction: column;
        margin-top:0px;
        width: 100%;
        margin-left: 0px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family:Raleway;
    }

    .more-to-come {
        display: flex;
    }
    

    .top {
        margin-top: 0.5px;
        font-weight: lighter;
    }
    
    .introduction-login {
        display: none;
    }


    .slideAcross {
        height: 250px;
        width: 0%; /* 0 width - change this with JavaScript */
        position: absolute; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0;
        margin-top: 10px;
        right: 0;
        display: inline-block;
        background-color: white; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 500ms; /* 0.5 second transition effect to slide in the sidepanel */
      }


    .discover-name {
        margin-top: 90px; 
        text-align: -webkit-center;
        font-size: 27px;
        padding: 2%;
        background-color: rgb(250, 250, 250);
    }



      .slideAcross button {
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 500ms;
        word-wrap: break-word;
        width: 100%;
        border: none;
        padding: 2%;
        height: 40px;
        background:transparent;
      }

      .options_button_t:hover {
          background-color: #d4d4d4;
          color: white;
      }

      .contactus {
          display: none;
      }



      .slideAcross .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        color: #818181;
        margin-right: 10%;
        font-size: 37px;
        margin-right: 50px;
      }


      .options_button_t {
          display: flex;
      }

      .options_button_t .fa {
          width: 20px;
          height: 40px;
          display: flex;
          align-items: center;
          flex-basis: 40%;
          font-size: 20px;
          margin-top: 10px;
          color: #818181;
          flex-direction: column;
      }


      .options_button_t button {
          display: flex;
          flex-grow: 1;
          margin-top: 5px;
          text-align: -webkit-left;
          flex-direction: column;
      }

}

@media screen and (max-width: 800px) {

    .introduction-search-box {
        display: flex;
        flex-basis: 70%;
    }
    
    .searching-bar {
        display: none;
    }
    
    .mobile-searchingbar {
        display: flex;
        flex-basis: 80%;
        margin-top: 0px;
        height: 40px;
        align-items: center;
        background: white;
        border-radius: 5px;
    }

    .discover-name {
        margin-top: 90px; 
        text-align: -webkit-center;
        font-size: 20px;
        padding: 2%;
        background-color: rgb(250, 250, 250);
    }

    .contactus {
        display: none;
    }

    .searching-text_ {
       border: none;
       padding: 2%;
       width: 100%;
       border-radius: 5px;
    }

    .discover-name {
        margin-top: 90px; 
        text-align: -webkit-center;
        font-size: 25px;
        padding: 2%;
        background-color: rgb(250, 250, 250);
    }
    

    .search-but_ {
        display: flex;
        position: relative;
        height: 40px;
        background: rgb(236, 236, 236);
        border: none;
        border-radius: 5px;
    }
    
    .introduction-page-head {
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    .empty-section_ {
        flex-direction: none;
        flex-basis: 2%;
    }

    .more-to-come {
        display: flex;
    }
    

    .logo-image {
        margin-top: 0px;
        margin-right: 20px;
        height: 40px;
        width: 40px;
    }
    
    .introduction-head-name, .top {
        display:none
    }
    
    .introduction-login {
        display: none;
    }

    .register-business-body {
        width: 100%;
        font-size: 20px;
    }


    .style_business_information {
        display: block;
        flex-wrap: nowrap;
    }


    .register-business-head {
        width: 100%;
        padding: 4%;
        font-size: 25px;
        background-color: #f5f5f5;
        font-family: Roboto;
    }
    
    .business-card {
        margin-top: 10px;
        font-size: 20px;
        width: 300px;
        color: black;
        background-color: white;
        border: 1px solid black;
        padding: 1%;
        border-radius: 5px;
    }
    
    .center_button {
        font-size: 20px;
        padding: 2%;
        border-radius: 10px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }

    .slideAcross {
        height: 250px;
        width: 0%; /* 0 width - change this with JavaScript */
        position: absolute; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0;
        margin-top: 10px;
        right: 0;
        display: inline-block;
        background-color: white; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 500ms; /* 0.5 second transition effect to slide in the sidepanel */
      }



      .slideAcross button {
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 500ms;
        word-wrap: break-word;
        width: 100%;
        border: none;
        padding: 2%;
        height: 40px;
        background:transparent;
      }

      .options_button_t:hover {
          background-color: #d4d4d4;
          color: white;
      }



      .slideAcross .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        color: #818181;
        margin-right: 10%;
        font-size: 37px;
        margin-right: 50px;
      }


      .options_button_t {
          display: flex;
      }

      .options_button_t .fa {
          width: 20px;
          height: 40px;
          display: flex;
          align-items: center;
          flex-basis: 40%;
          font-size: 20px;
          margin-top: 10px;
          color: #818181;
          flex-direction: column;
      }


      .options_button_t button {
          display: flex;
          flex-grow: 1;
          margin-top: 5px;
          text-align: -webkit-left;
          flex-direction: column;
      }
    
}