.login-box {
    display: flex;
    flex-wrap: wrap;
}

.text-already {
    margin-top: 5%;
    margin-left:2%;
    margin-bottom: 3%;
    font-weight: bold;
    font-size:30px;
    color: blue;
    border: 0px solid white;
}

.text-box-name {
    border: 1px solid gray;
    margin-left:2%;
    width:90%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}
.text-box-email {
    border: 1px solid gray;
    margin-top: 2%;
    margin-left: 2%;
    width:90%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align:center;
}

.btn-primary-login {
    margin-top: 3%;
    margin-left: 50%;
    background-color: blue;
    color:white;
    flex-basis: calc(60% - 10px);
    height: 45px;
    width:20%;
    font-size: 20px;
    border-radius: 5px;
    border:0px solid red;
}

.btn-primary-cancel-login {
    margin-top: 3%;
    margin-left: 2%;
    background-color: white;
    flex-basis: calc(10% - 10px);
    color:blue;
    height: 45px;
    width:20%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid blue;
}

.split-box {
    border:0px solid black;
    color:white;

}

@media screen and (max-width: 400px) {
    .text-already {
        border: 1px solid red;
    }
    
  }