.login-box {
    width: 100%;
    padding: 5%;
}

.text-box-name-box {
    width: 100%;
    padding: 2%;
    margin-top: 1%;
}

.text-box-name {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    text-decoration-style: double;
}



.buttons-login {
    padding: 5%;
}

.btn-primary-login {
    width: 100%;
    color: #008cEE;
    border: 1px solid #008cEE;
    background-color: transparent;
    border-radius: 10px;
    height: 35px;
}

.btn-primary-cancel-login {
   
}



@media screen and (max-width: 400px) {
    .text-already {
        border: 1px solid red;
    }
    
  }