.opening-hour-main-content {
    margin-top: 2%;
    height: 100%;
    border: 1px solid white;
    box-shadow: 10px 2px 8px 5px #888888;
    background-color: white;
}

.opening-hour-main-content-head {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 0.02%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.span-opening-name {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
}

.status-opening-hours {
    display: flex;
    flex-grow: 1;
    font-size: 12px;
}

.but-opening-hours {
    padding: 5%;
    width: 70%;
    text-align: -webkit-center;
    color: black;
    background-color: yellow;
    border-radius: 5px;
}
.opening-hour-main-content-body-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    padding: 2%;
}

.opening-hour-main-content-body {
    display: flex;
    padding: 2%;
    flex-basis: 13%;
    flex-direction: column;
}

.time-show-body {
    padding: 2%;
    text-align: -webkit-center;
}

.active {
    background-color: rgb(226, 238, 246);
    color: black;
    height: 80%;
}
.show-body-span {
    font-size: 15px;
}

.show-time-div {

}

/* 
* Mobile & Tablet size elements
*/
@media screen and (max-width: 1100px) {
    
    .opening-hour-main-content-head {
        font-size: 22px;
        padding-top: 0%;
        padding-left: 0%;
        padding-bottom: 0%;
        margin: 3px 15px;
        padding-top: 10px;
    }

    .span-opening-name {
        flex-basis: 70%;
    }
    
        
    .status-opening-hours {
        flex-grow: 0;
        font-size: 12px;
    }
    
    .but-opening-hours {
        padding: 10px;
        width: 100%;
        text-align: -webkit-center;
        color: black;
        background-color: yellow;
        border-radius: 5px;
    }
    .opening-hour-main-content-body-1 {
        padding: 10px 5px;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 15px;
    }

    .opening-hour-main-content-body {
        display: flex;
        padding: 2%;
        flex-basis: 20%;
        flex-direction: column;
    }
    
    .time-show-body {
        padding: 2%;
        width: 100%;

        text-align: -webkit-center;
    }
    
    .active {
        background-color: rgb(226, 238, 246);
        color: black;
        height: 80%;
    }
    .show-body-span {
        font-size: 15px;
    }
    
    .show-time-div {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .opening-hour-main-content-body-1 {
        padding: 10px 5px;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 15px;
    }

    .opening-hour-main-content-body {
        display: flex;
        padding: 2%;
        flex-basis: 25%;
        flex-direction: column;
    }
}