.restaurant-section_ {
    margin-left: 1%;
    height: 100%;
    width: 100%;
}


.resturant-heading_ {
    display: flex;
    height: 100%;
    padding: 1%;
    padding-bottom: 1%;
}

.resturant-name_ {
    display:flex;
    flex-basis: 90%;
    color:black;
    font-size: 2.7em;
    font-family: Raleway;
    flex-direction: column;
}

.view-all-but {
    display:flex;
    flex-grow: 1;
    height: 40px;
    margin-top: 0.3%;
    font-size: 20px;
}

.view-all_ {
    width: 100%;
    font-size: 0.7em;
    padding: 1%;
    color: white;
    background-color: rgb(64, 167, 64);
    border:  none;
    border-radius: 4px;

}

.view-all_:hover {
    font-weight: bold;
}

.restuarant-cardspace {
    width: 100%;
    overflow-x: scroll;

}

.image-navigation-left {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.image-navigation-right {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.left-indicator {
    margin-top: 150px;
    display: flex;
    height: 40px;
    display: none;
}

.left {
    color: black;
    border-radius: 50%;
    width:40px;
    background-color: white;
    margin: none;
    border: 1px solid black;
}

.left:hover {
    box-shadow: -1px -1px 1px grey;

}

.center-cards {
    margin-top: 1%;
    width: 100%;
   
}

.right-indicator {
    margin-top: 3%;
    display: flex;
    flex-grow:1;
}


@media screen and (max-width: 1620px) {
     
    .resturant-name_ {
        font-size: 2.0em;
        flex-basis: 80%;
    }
        
    .view-all-but {
        margin-top: 10px;
    }
    
    .view-all_ {
        color: white;
        background-color: rgb(64, 167, 64);
        border:  none;
    }
        
    .restuarant-cardspace {
        width: 100%;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 800px) {
    .resturant-name_ {
        font-size: 27px;
        flex-basis: 80%;
    }
        
    .view-all-but {
        margin-top: 10px;
    }
    
    .view-all_ {
        color: white;
        background-color: rgb(64, 167, 64);
        border:  none;
    }
        
    .restuarant-cardspace {
        width:100%;
        max-width: 100%;
        overflow: scroll;
    }
}