.restaurant-section_ {
    margin-left: 1%;
    height: 100%;
    width: 100%;
}


.resturant-heading_ {
    display: flex;
    height: 100%;
    padding: 1%;
    padding-bottom: 1%;
}

.resturant-name_ {
    display:flex;
    flex-basis: 90%;
    color:black;
    font-size: 2.7em;
    font-family: Raleway;
    flex-direction: column;
}



.view-all-but {
    display:flex;
    flex-grow: 1;
    height: 40px;
    margin-top: 0.3%;
    font-size: 20px;
}

.view-all_ {
    width: 100%;
    font-size: 0.7em;
    padding: 1%;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;

}

.view-all_:hover {
    font-weight: bold;
}

.restuarant-cardspace {
    display: flex;
    flex-wrap: wrap;
   
 

}

.image-navigation-left {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.image-navigation-right {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.left-indicator {
    margin-top: 150px;
    display: flex;
    height: 40px;
}

.left {
    color: black;
    border-radius: 50%;
    width:40px;
    background-color: white;
    margin: none;
    border: 1px solid black;
}

.left:hover {
    box-shadow: -1px -1px 1px grey;

}

.center-cards {
    margin-top: 1%;
    flex-basis: 94%;
    width: 94%;
}

.right-indicator {
    margin-top: 3%;
    display: flex;
    flex-grow:1;
}
