.restaurant-section_ {
    margin-left: 1%;
    height: 100%;
    width: 100%;
    margin-top: 1%;
}


.resturant-heading_ {
    display: flex;
    height: 100%;
    padding: 1%;
    padding-bottom: 1%;
    background-color: whitesmoke;

}

.resturant-name_ {
    display:flex;
    flex-basis: 90%;
    color:black;
    font-size: 2.1em;
    font-family: Raleway;
    flex-direction: column;
}



.view-all-but {
    display:flex;
    flex-grow: 1;
    height: 40px;
    margin-top: 0.3%;
    font-size: 20px;
    text-align: -webkit-center;
}

.view-all_ {
    width: 70%;
    font-size: 0.7em;
    padding: 1%;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.view-all_:hover {
    font-weight: bold;
}

.restuarant-cardspace {
    display: flex;
    flex-wrap: wrap;
    height: 400px;

}

.image-navigation-left {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.image-navigation-right {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.left-indicator {
    margin-top: 3%;
    display: flex;
    flex-basis: 3%;
}


.center-cards {
    margin-top: 1%;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.right-indicator {
    margin-top: 3%;
    display: flex;
    flex-grow:1;
}

