.restaurant-section_ {
    width: 100%;
    margin-left: 1%;
    height: 100%;
    margin-top: 3%;
    box-shadow: 1px 2px 30px grey;
}


.resturant-heading_ {
    display: flex;
    height: 100%;
    padding: 1%;
    background-color:rgb(74, 140, 184);
    padding-bottom: 1%;

}

.resturant-name_ {
    display:flex;
    flex-basis: 30%;
    color:white;
    font-size: 30px;
    font-family: Raleway;

    flex-direction: column;
}

.search-restuarant {
    display:flex;
    flex-basis: 40%;
    height: 40px;
    font-size: 17px;
    flex-wrap: wrap;
    background-color:white;
    flex-direction: column;

}

.categories_ {
    display: flex;
    flex-direction: column;
    flex-basis: 5%;
    height: 100%;
    margin-top: 0.5%;
    width: 20%;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.dropdown-toggle {
    height: 40px;
    font-size: 20px;
}


.search-text_ {
    float: left;
    color:white;
    display: flex;
    flex-direction: column;
    border: none;
    width: 92%;
    text-align: left;
    font-size: 20px;
    color: black;
    font-weight: light;
    text-align: center;
    height: 40px;
}


.search-item {
    margin-right: 2%;
    display: flex;
    flex-direction: column;  
    height: 40px;
    width: 70px;
}

.view-all-but {
    display:flex;
    flex-basis: 8%;
    height: 40px;
    font-size: 20px;
    margin-left: 3%;
    text-align: -webkit-center;
}

.view-all_ {
    width: 80%;
    padding: 0%;
    color: white;
    background-color: rgb(74, 140, 184);
    border: none;

}

.view-all_:hover {
    opacity: 1.0;
    font-weight: bold;
}

.restuarant-cardspace {
    display: flex;
    flex-wrap: wrap;
    height: 400px;

}

.image-navigation-left {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.image-navigation-right {
    margin-top: 100px;
    margin-left: 2%;
    background-color: transparent;
    height: 50px;
    width: 40px;
}

.left-indicator {
    margin-top: 3%;
    display: flex;
    flex-basis: 3%;
}


.center-cards {
    margin-top: 1%;
    display: flex;
    flex-basis: 94%;
    flex-direction: column;
}

.right-indicator {
    margin-top: 3%;
    display: flex;
    flex-grow:1;
}

