.top-heading-DD {
    position:fixed;
    width: 62.5%;
    display: flex;
    height: 60px;
    padding: 10px 2px;
    background-color: rgb(254, 254, 254);
}

.bar-DD {
    width: 30%;
}

.option-button_ {
    font-size: 1.2em;
    text-align: -webkit-left;
    border: none;
    font-family: Raleway;
    background-color: transparent;
    color: rgb(71, 70, 70);
}

@media screen and (max-width: 1100px) {
    .top-heading-DD {
        width: 100%;
    }
    
    .bar-DD {
        width: 30%;
        text-align: -webkit-center;

    }
    
    .option-button_ {
        text-align: -webkit-center;
    }
}

@media screen and (max-width: 800px) {
    .top-heading-DD {
        width: 100%;
    }
    
    .bar-DD {
        width: 50%;
    }
    
    .option-button_ {
        text-align: -webkit-center;
    }
}