.main-sectional-page-home {
    height: 100%;
    width: 100%;
}

.scrollable-bar {
    width: 70%;
    margin-left: 15%;
    text-align: -webkit-center;
}

.tool-bar {
   width: 100%;
}

.second-tool-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.first-half-second-tool-bar {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.options-tool-bar-sub {
    flex-basis: 15%;
    width: 100%;
    padding: 1%;
    margin-top: 1%;
    flex-direction: column;
}

.top-deals-bar {
    margin-left: 3%;
    margin-top: 2%;
    flex-basis: 80%;
    background-color: white;
}

.deals-bar-title {
    padding: 1%;
    width: 100%;
    font-family: Raleway;
    font-size: 2.7em;
}

.name-bar-title {
    padding: 1%;
    width: 100%;
    font-family: Raleway;
    font-size: 2.3em;
    text-align: -webkit-center;
}

.deals-card-display{
    display: flex;
    flex-wrap: wrap;
}

.ads-zone {
    flex-grow: 1;
    height: 100%;
}

.font-span {
    font-weight: bold;
}

.sort-by-options {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.pop-but_ {
    flex-basis: 7%;
    font-size: 1.0em;
    padding-left: 1%;
    text-decoration: underline;
}

.options-but_ {
    flex-basis: 12%;
    font-size: 1.0em;
    padding-left: 1%;
    text-decoration: underline;
}

.line {
    width: 80%;
    padding: 1%;
}

.restaurant-section-name {
    margin-top: 2%;
    display:flex;
    flex-wrap: wrap;   

}

.section-name_r {
    font-size: 30px;
    margin-left: 3%;
    display: flex;
    color: #008EEC;
    flex-basis: 7%;
}

.empty-section {
    display: flex;
    flex-basis: 26%;
    margin-left: 2%;
}

.options-list {
    display:flex;
    background-color: #008ECC;
    color: white;
    border-radius: 10px;
    margin-left: 1%;

}

.l_name {
    margin-left: 5px;
    margin-top: 10%;
}

.options-name {
    display: flex;
    background-color: transparent;
    border: transparent;
}

.close-button {
    display: flex;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 90%;
}


.add-button-section {
    display: flex;
    flex-basis: 5%;
    margin-left: 1%;
    margin-top: 5px;
    height: 40px;
    font-size: 18px;
    text-align: -webkit-center;
}

.filter-by-text {
    display: flex;
    flex-basis: 4.5%;
    margin-top: 0.5%;
    font-size: 20px;
}

.filter-by {
    margin-top: 0.3%;
    display: flex;
    flex-basis: 15%;
    height: 40px;
    width: 5%;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 10px;
    text-align: -webkit-center;
}

.restaurant-ad-section {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1%;
}
.add-ads-button {
    display: flex;
    flex-grow:1;
    height: 10px;
    background-color: red;

}


.restaurant-block {
    margin-top:1%;
    display: flex;
    margin-left: 3%;
    flex-basis: 65%;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px -2px 2px 3px rgba(0, 0, 0, 0.4);
}



.ad-section {
    display: flex;
    flex-grow: 1;

}

.apply-filter-but {
    margin-left: 10%;
    background-color: #008ECC;
    color:white;
    height: 14%;
    width:30%;
    font-size: 18px;
    border-radius: 10px;
}

.close-filter-but {
    margin-left: 20%;
    background-color: white;
    color:#008ECC;
    height: 14%;
    width:30%;
    font-size: 18px;
    border-radius: 10px;
}

.third-tool-bar-sectional {
    height: 500px;
    width: 65%;
    margin-left: 15%;
    bottom: 0;
}