.top-heading-DD {
    display: flex;
    flex-wrap: wrap;
}

.first-bar-DD {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;

}

.second-bar-DD {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;

}

.option-button {
    width: 100%;
    height: 50px;
    font-size: large;
    border-radius:5px;
    font-weight: bold;
    color:white;
    background-color: #008ECC;


}