.top-heading-DD {
    position:fixed;
    width: 13%;
}

.bar-DD-heading {
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 2%;

}


.bar-DD {
    width: 100%;
}

.option-button_ {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    text-align: -webkit-left;
    border: none;
    font-family: Raleway;
    background-color: transparent;
    color:black;


}

.bar-DD:hover {
    border-left: 5px solid rgb(74, 121, 125);
    background-color: whitesmoke;
}