.signup-box {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.name {
    width: 100%;
    padding: 2%;
    margin-top: 1%;
}

.text-box-first-name {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    text-decoration-style: double;
}

.text-box-signup-email {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    text-decoration-style: double;
}


.text-box-signup-pass {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    text-decoration-style: double;
}

.terms-conditions {
    font-size: 12px;
}
.btn-primary-signup {
    width: 100%;
    color: white;
    background-color: rgb(50, 156, 50);
    border-radius: 10px;
    height: 35px;
}
