.signup-box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.text-already {
    margin-left:2%;
    font-weight: bold;
    font-size:30px;
    color: blue;
    border: 0px solid white;
}

.name {
    width: 100%;
    height: 50px;
}

.text-box-first-name {
    border: 1px solid gray;
    margin-left:2%;
    width:30%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}

.text-box-last-name {
    border: 1px solid gray;
    margin-left:2%;
    width:30%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}

.text-box-signup-email {
    border: 1px solid gray;
    margin-left:2%;
    margin-top:2%;
    width:62%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}

.text-box-signup-dob {
    border: 1px solid gray;
    margin-left:2%;
    margin-top:2%;
    width:62%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}

.text-box-signup-pass {
    border: 1px solid gray;
    margin-left:2%;
    margin-top:2%;
    width:62%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}

.text-box-signup-pass-confirm {
    border: 1px solid gray;
    margin-left:2%;
    margin-top:2%;
    width:62%;
    height:40px;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
}

.btn-primary-signup {
    margin-top: 3%;
    margin-left: 25%;
    background-color: blue;
    color:white;
    height: 45px;
    flex-basis: calc(20% - 10px);
    width:20%;
    font-size: 20px;
    border-radius: 5px;
    border:0px solid red;
}

.btn-primary-cancel {
    margin-top: 3%;
    margin-left: 2%;
    background-color: white;
    flex-basis: calc(20% - 10px);
    color:blue;
    height: 45px;
    width:20%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid blue;
}

