
.top-deals-whole-body {
    margin-top: 2%;
    height: 100%;
    background-color: white;
    color: black;
    width: 65%;
    margin-left: 17%;
    box-shadow: 1px 1px 16px #888888;
}

.top-deals-head {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5%;

} 

.topic {
    color: #008CEE;
    font-family: Raleway;
    font-size: 30px;
    flex-basis: 40%;
    padding-left: 3%;
}

.topic-option {
    color: #008CEE;
    font-family: Raleway;
    font-size: 30px;
    flex-basis: 20%;
}

.empty-topic {
    flex-basis: 22%;
}
.topic-option:hover .show-type-option {
    display: block;
}

.show-type-option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 4%;
}

.show-type-option a {
    color: black;
    font-size: 18px;
    color: #008CEE;
    padding: 12px 13px;
    text-decoration: none;
    display: block;

  }
  

.city-text-topic {
  background-color: white;
  color: #008CEE;
  border: 1px solid #008CEE;
  width: 50%;
  padding: 2%;
  font-size: 17px;
}


.get-started {
    text-align: -webkit-right;
    padding: 2%;
}

.but-started {
    color:white;
    border-radius: 25px;
    text-align: -webkit-center;
    font-size: 15px;
    width: 15%;
    height: 35px;
    background-color: white;
    border: 1px solid #008cee;
    color: #008cee;
}
.but-started:hover {
    background-color: #008CEE;
    color: white;
}

.three_restuarants_ {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.image-top_ {
    flex-direction: column;
    height: 150px;
    background-position: flex-start;
    background-size: cover;
    width: 300px;
    margin-left: 2%;
    border-radius: 10px;
}

