.topic {
    margin-top: 2%;
    margin-left: 40%;
    color: #008ECC;
    font-size: 30px;
    font-weight: bold;
}

.get-started {
    margin-top: 1%;
    margin-left: 40%;
    background-color: green;
    color:white;
    height: 45px;
    border-radius: 5px;
    width:30%;
    font-size: 20px;
}

.three-restuarants {
    height: 100vh;

}

.image-top {
    margin-top: 2%;
    margin-left: 5%;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: top;
}

.name-top {
    margin-top: 3%;
    color: black;
    text-align: center;
}
