
.top-deals-whole-body {
    margin-top: 4%;
    height: 100%;
    background-color: white;
    color: black;
    width: 70%;
    margin-left: 15%;
    box-shadow: 1px 1px 16px #888888;
}

.top-deals-head {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5%;
} 

.topic {
    color: #008CEE;
    font-family: Raleway;
    font-size: 30px;
    flex-basis: 80%;
    padding-left: 3%;
    
}

.get-started {
    text-align: -webkit-center;
    padding: 3%;
}

.but-started {
    color:white;
    border-radius: 25px;
    text-align: -webkit-center;
    font-size: 20px;
    width: 20%;
    height: 40px;
    background-color: white;
    border: 1px solid #008cee;
    color: #008cee;
}
.but-started:hover {
    background-color: #008CEE;
    color: white;
}

.three_restuarants_ {
    display: flex;
    flex-wrap: wrap;
}



.image-top_ {
    flex-basis: 25%;
    flex-direction: column;
    height: 150px;
    background-position: left;
    background-size: cover;
    width: 20%;
    margin:2%;
    border-radius: 10px;
}

