
.top-deals-whole-body {
    margin-top: 2%;
    height: 100%;
    background-color: white;
    color: black;
    width: 70%;
    margin-left: 15%;
}

.top-deals-head {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5%;

} 

.topic {
    font-family: Raleway;
    font-size: 1.8em;
    margin-top: 0.5%;
    flex-basis: 45%;
    padding-left: 3%;
}

.see-all-textT {
    margin-top: 1.8%;
    font-size: 1.0em;
    font-family: Raleway;
}

.see-allT {
    margin-top: 1.2%;
}
.see-all-butT {
    background-color: white;
    font-family: Raleway;
    font-size: 1.5em;
    border: none;
}

.see-all-butT:hover {
    border-bottom: 1px solid #008cEE;
}

.topic-option {
    font-family: Raleway;
    font-size: 30px;
    flex-basis: 25%;
}

.empty-topic {
    flex-basis: 20%;
}
.topic-option:hover .show-type-option {
    display: block;
}

.show-type-option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 4%;
}

.show-type-option a {
    color: black;
    font-size: 18px;
    color: #008CEE;
    padding: 12px 13px;
    text-decoration: none;
    display: block;

  }
  

.city-text-topic {
  background-color: white;
  width: 50%;
  padding: 1%;
  font-size: 17px;
  border: 1px solid #ceadf3;
}


.get-started {
    text-align: -webkit-center;
}

.but-started {
    color:white;
    border-radius: 25px;
    text-align: -webkit-center;
    font-size: 15px;
    width: 15%;
    height: 35px;
}
.but-started:hover {
   
}

.three_restuarants12_ {
    display: flex;
    height: 200px;
    width: 95%;
    margin-left: 3.5%;
    margin-right: 1%;
    margin-top: 3%;
    overflow-x: scroll;
    overflow:hidden;

}

.image-top_ {
    height: 150px;
    background-position: flex-start;
    background-size: cover;
    margin-left: 2%;
    border-radius: 10px;
}

.image-top_:hover {
    transform: scale(0.99,0.98);
    transition-duration: 30s ease-in-out;
}
