
.top-deals-whole-body {
    margin-top: 2%;
    height: 100%;
    background-color: white;
    color: black;
    width: 78%;
    padding: 20px;
    margin-left: 12%;
    object-fit: cover;
    min-width: 400px;
}



.top-deals-head {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5%;

} 

.topic {
    font-family: Raleway;
    font-size: 1.8em;
    margin-top: 0.5%;
    flex-basis: 45%;
    padding-left: 0%;
}

.see-all-textT {
    height: 45px;
    margin-top: 10px;
    background-color: green;
    color: white;
    width: 100px;
    font-size: 17px;
    border: none;
    margin-left: 20px;

}

.see-allT {
    margin-top: 10px;
}
.see-all-butT {
    background-color: white;
    font-family: Raleway;
    font-size: 1.5em;
    border: 1px solid black;
    background-color: transparent;
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

.see-all-butT:hover {
    border-bottom: 1px solid #008cEE;
}

.empty-topic {
    flex-basis: 45%;
}
.topic-option:hover .show-type-option {
    display: block;
}

.show-type-option {
    display: none;
    position: absolute;
    background-color: rgb(250, 248, 248);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 0%;
    width: 160px;
}

.show-type-option button {
    display: block;
    border: none;
    background: transparent;
    color: black;
    padding: 3px;
    font-size: 15px;
    transition-delay: 3ms;
}
  



.get-started {
    text-align: -webkit-center;
}

.but-started {
    color:white;
    border-radius: 25px;
    text-align: -webkit-center;
    font-size: 15px;
    width: 15%;
    height: 35px;
}
.but-started:hover {
   
}

.three_restuarants12_ {
    display: flex;
    width: 100%;
    margin-top: 3%;
    overflow-x: scroll;
    overflow:hidden;
    margin-bottom: 20px;

}

.image-top_ {
    height: 200px;
    border-radius: 5px;
    background-position: cover;
    background-size: cover;
    margin-left: 20px;
    object-fit: cover;

}

.image-top_:hover {
    transform: scale(0.99,0.98);
    transition-duration: 30s ease-in-out;
}


@media screen and (max-width: 1440px) {
    .empty-topic {
        flex-basis: 30%;
    }   

    .image-top_:hover {
        transform: scale(0.99,0.98);
        transition-duration: 30s ease-in-out;
    }
    
}

@media screen and (max-width: 1300px) {

    .top-deals-whole-body {
        margin-top: 2%;
        height: 100%;
        background-color: white;
        color: black;
        width: 90%;
        padding: 20px;
        margin-left: 5%;
        object-fit: cover;
    }

    .image-top_:hover {
        transform: scale(0.99,0.98);
        transition-duration: 30s ease-in-out;
    }
    
    
}

@media screen and (max-width: 1240px) {
    .empty-topic {
        flex-basis: 25%;
    }
    .image-top_:hover {
        transform: scale(0.99,0.98);
        transition-duration: 30s ease-in-out;
    }
       
}


@media screen and (max-width: 855px) {
    .empty-topic {
        flex-basis: 40%;
    }   
    .image-top_:hover {
        transform: scale(0.99,0.98);
        transition-duration: 30s ease-in-out;
    }
}

@media screen and (max-width: 750px) {
    .empty-topic {
        flex-basis: 30%;
    }  
    .image-top_:hover {
        transform: scale(0.99,0.98);
        transition-duration: 30s ease-in-out;
    }
     
}


@media screen and (max-width: 655px) {

    .top-deals-whole-body {
        margin-top: 2%;
        height: 100%;
        background-color: white;
        color: black;
        width: 100%;
        padding: 20px;
        margin-left: 0%;
        object-fit: cover;
    }
    .image-top_:hover {
        transform: scale(0.99,0.98);
        transition-duration: 30s ease-in-out;
    }
    

    .empty-topic {
        flex-basis: 30%;
    }

    
}



@media screen and (max-width: 600px) {
    .empty-topic {
        flex-basis: 40%;
    }

    .topic {
        font-size: 22px;
        margin-top: 20px;
        flex-basis: 30%;
        padding-left: 0%;
    }
    
    .see-all-butT {
        margin-top: 10px;
        font-size: 20px;
        height: 30px;
        width: 30px;
    }

    .text-all {
        text-align: -webkit-right;
        flex-grow: 1;
        font-size: 10px;


    }

    .see-all-textT {
        height: 35px;
        margin-top: 20px;
        background-color: green;
        color: white;
        border: none;
    }

    .three_restuarants12_ {
        display: flex;
        width: 100%;
        margin-top: 20px;
        overflow-x: scroll;
        overflow-y: none;
        margin-bottom: 20px;
    
    }
    
    .image-top_ {
        height: 200px;
        border-radius: 5px;
        background-position: cover;
        background-size: cover;
        margin-left: 20px;
        object-fit: cover;
        margin-bottom: 30px;
    
    }
}

@media screen and (max-width: 500px) {
    .empty-topic {
           flex-basis: 15%;
    }
    .see-all-butT  {
        border: 1px solid black;
        display: flex;
    }   

    .topic {
        font-size: 22px;
        margin-top: 20px;
        flex-basis: 60%;
        padding-left: 0%;
    }
    
    .see-all-butT {
        margin-top: 15px;
        font-size: 15px;
        height: 25px;
        width: 25px;
    }

    .text-all {
        text-align: -webkit-right;
        flex-grow: 1;
        font-size: 10px;


    }

    .see-all-textT {
        height: 35px;
        margin-top: 20px;
        background-color: green;
        color: white;
        border: none;
    }

    .three_restuarants12_ {
        display: flex;
        width: 100%;
        margin-top: 20px;
        overflow-x: scroll;
        overflow-y: none;
        margin-bottom: 20px;
    
    }
    
    .image-top_ {
        height: 200px;
        width: 400px;
        border-radius: 5px;
        background-position: auto;
        background-size: cover;
        margin-left: 0px;
        margin-right: 10px;
        object-fit: fill;
        margin-bottom: 50px;
    
    }
    
    .image-top_:hover {
        transform: none;
        transition-duration: 30s ease-in-out;
    }
    
}

